/Извра с Ажуром и Анной/gatherteamprojectService/bin
/Извра с Ажуром и Анной/gatherteamprojectService/obj
/Извра с Ажуром и Анной/gatherteamproject/gatherteamproject.Windows/bin
/Извра с Ажуром и Анной/gatherteamproject/gatherteamproject.Windows/obj
/Извра с Ажуром и Анной/gatherteamproject/gatherteamproject.WindowsPhone/bin
/Извра с Ажуром и Анной/gatherteamproject/gatherteamproject.WindowsPhone/obj
